<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fan.mapper.MsgRecordMapper" >
  <resultMap id="BaseResultMap" type="com.fan.po.MsgRecord" >
    <id column="msg_id" property="msgId" jdbcType="BIGINT" />
    <result column="sender_id" property="senderId" jdbcType="BIGINT" />
    <result column="sender_type" property="senderType" jdbcType="INTEGER" />
    <result column="receiver_id" property="receiverId" jdbcType="BIGINT" />
    <result column="receiver_type" property="receiverType" jdbcType="INTEGER" />
    <result column="msg_cnt" property="msgCnt" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="send_time" property="sendTime" jdbcType="DATE" />
    <result column="receive_time" property="receiveTime" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    msg_id, sender_id, sender_type, receiver_id, receiver_type, msg_cnt, status, send_time, 
    receive_time, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fan.po.MsgRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from v_msg_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from v_msg_record
    where msg_id = #{msgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from v_msg_record
    where msg_id = #{msgId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fan.po.MsgRecordExample" >
    delete from v_msg_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fan.po.MsgRecord" >
    insert into v_msg_record (msg_id, sender_id, sender_type, 
      receiver_id, receiver_type, msg_cnt, 
      status, send_time, receive_time, 
      create_time, update_time)
    values (#{msgId,jdbcType=BIGINT}, #{senderId,jdbcType=BIGINT}, #{senderType,jdbcType=INTEGER}, 
      #{receiverId,jdbcType=BIGINT}, #{receiverType,jdbcType=INTEGER}, #{msgCnt,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{sendTime,jdbcType=DATE}, #{receiveTime,jdbcType=DATE}, 
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.fan.po.MsgRecord" >
    insert into v_msg_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        msg_id,
      </if>
      <if test="senderId != null" >
        sender_id,
      </if>
      <if test="senderType != null" >
        sender_type,
      </if>
      <if test="receiverId != null" >
        receiver_id,
      </if>
      <if test="receiverType != null" >
        receiver_type,
      </if>
      <if test="msgCnt != null" >
        msg_cnt,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        #{msgId,jdbcType=BIGINT},
      </if>
      <if test="senderId != null" >
        #{senderId,jdbcType=BIGINT},
      </if>
      <if test="senderType != null" >
        #{senderType,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null" >
        #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="receiverType != null" >
        #{receiverType,jdbcType=INTEGER},
      </if>
      <if test="msgCnt != null" >
        #{msgCnt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=DATE},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fan.po.MsgRecordExample" resultType="java.lang.Integer" >
    select count(*) from v_msg_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update v_msg_record
    <set >
      <if test="record.msgId != null" >
        msg_id = #{record.msgId,jdbcType=BIGINT},
      </if>
      <if test="record.senderId != null" >
        sender_id = #{record.senderId,jdbcType=BIGINT},
      </if>
      <if test="record.senderType != null" >
        sender_type = #{record.senderType,jdbcType=INTEGER},
      </if>
      <if test="record.receiverId != null" >
        receiver_id = #{record.receiverId,jdbcType=BIGINT},
      </if>
      <if test="record.receiverType != null" >
        receiver_type = #{record.receiverType,jdbcType=INTEGER},
      </if>
      <if test="record.msgCnt != null" >
        msg_cnt = #{record.msgCnt,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=DATE},
      </if>
      <if test="record.receiveTime != null" >
        receive_time = #{record.receiveTime,jdbcType=DATE},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update v_msg_record
    set msg_id = #{record.msgId,jdbcType=BIGINT},
      sender_id = #{record.senderId,jdbcType=BIGINT},
      sender_type = #{record.senderType,jdbcType=INTEGER},
      receiver_id = #{record.receiverId,jdbcType=BIGINT},
      receiver_type = #{record.receiverType,jdbcType=INTEGER},
      msg_cnt = #{record.msgCnt,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      send_time = #{record.sendTime,jdbcType=DATE},
      receive_time = #{record.receiveTime,jdbcType=DATE},
      create_time = #{record.createTime,jdbcType=DATE},
      update_time = #{record.updateTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fan.po.MsgRecord" >
    update v_msg_record
    <set >
      <if test="senderId != null" >
        sender_id = #{senderId,jdbcType=BIGINT},
      </if>
      <if test="senderType != null" >
        sender_type = #{senderType,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null" >
        receiver_id = #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="receiverType != null" >
        receiver_type = #{receiverType,jdbcType=INTEGER},
      </if>
      <if test="msgCnt != null" >
        msg_cnt = #{msgCnt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=DATE},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where msg_id = #{msgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fan.po.MsgRecord" >
    update v_msg_record
    set sender_id = #{senderId,jdbcType=BIGINT},
      sender_type = #{senderType,jdbcType=INTEGER},
      receiver_id = #{receiverId,jdbcType=BIGINT},
      receiver_type = #{receiverType,jdbcType=INTEGER},
      msg_cnt = #{msgCnt,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=DATE},
      receive_time = #{receiveTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE}
    where msg_id = #{msgId,jdbcType=BIGINT}
  </update>
</mapper>